h1{
    text-align: center;
    color: white;
}

h4{
  color: white;
}

body {
   
        background: linear-gradient(to bottom, #000000, #808080);
     }

div{
    align-items: center;
}
      
  
  